SELFBOT_TOKEN=
ALLOWED_USERS=
PREFIX=..
DASHBOARD_PORT=3000
DASHBOARD_USER=admin
DASHBOARD_PASS=admin

BOT_TOKEN=
BOT_CLIENT_ID=


LAVALINK_REST_HOST=http://ip:port
LAVALINK_WS_HOST=ws://ip:port/v4/websocket
LAVALINK_PASSWORD=pass
LAVALINK_CLIENT_NAME=tesrek
